<section id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="lines">Millions of people of all ages and from around the world are improving their lives with us</div>
      <div class="_useful-links">
        <ul>
          <li>Links</li>
          <li>See Recenlty added Movies</li>
          <li>Winner 2022</li>
          <li>Most watched</li>
          <li>Most Liked</li>
        </ul>
      </div>
      <div>
        <div class="_useful-links">
          <ul>
            <li>Terms</li>
            <li>Policy</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="_useful-links">
          <ul>
            <li>About us</li>
            <li>What we do</li>
            <li>Career</li>
            <li>Help</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy">Copyright &copy; 2022</div>
  </div>
</section>
